/****************/
/* Font import */
/****************/
@font-face {
	font-family: "Sharp Sans";
	src: url("fonts/WOFF/SharpSansDispNo1-Medium.woff") format("woff"),url("fonts/EOT/SharpSansDispNo1-Medium.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Bold";
	src: url("fonts/WOFF/SharpSansDispNo1-Bold.woff") format("woff"),url("fonts/EOT/SharpSansDispNo1-Bold.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Semibold";
	src: url("fonts/WOFF/SharpSansDispNo1-Semibold.woff") format("woff"),url("fonts/EOT/SharpSansDispNo1-Semibold.eot") format("eot");
}
/******************/
/* General Styles */
/******************/
html{
	background: linear-gradient(-180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 35%, rgba(0,130,151,0.5) 100%);
	background: -ms-linear-gradient(-180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 35%, rgba(0,130,151,0.5) 100%);
	background: -moz-linear-gradient(-180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 35%, rgba(0,130,151,0.5) 100%);
}
hr{
	background: #D4EAED;
	filter: blur(2px);
	width: 100%;
	border: none;
	height: 5px;
	margin-top: 40px;
}
body{
	margin: 0;
	min-height: 95vh;
	color: #333;
	padding: 25px;
	letter-spacing: 0.03em;
	line-height: 1.5;
	font-size: 20px;
	background: rgb(245,245,245,0);
	font-family: "Sharp Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
h1{
	margin: 25px 0;
	font-size: 48px;
}
h2{
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}
sup{
	font-size: 14px;
	padding-left: 10px;
}
sup em{
	color: #333;
	text-decoration: none;
}
sup a{
	text-decoration: none;
}
a{
	color: #BF0D3E;
	position: relative;
	text-decoration: none;
}
button.disabled{
	opacity: 0.6;
}
button:hover{
	opacity: 1;
}
button{
	cursor: pointer;
	color: #333;
	background: #D4EAED;
	position: relative;
	padding: 5px 12px;
	margin: 5px;
	padding-right: 10px;
	padding-left: 5px;
	font-size: 20px;
	font-family: inherit;
	margin-top: 5px;
	background: rgb(0,130,151,0.1);
	background: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, #D4EAED 50%, #D4EAED 99%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, #D4EAED 50%, #D4EAED 99%, rgba(0,130,151,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, #D4EAED 50%, #D4EAED 99%, rgba(0,130,151,0) 100%);
	border-radius: 0px;
	text-decoration: none;
	display: inline-block;
	border: none;
	box-shadow: none;
	outline: none;
	width:  auto;
}
a::after, button::after{
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
	width: 80%;
	height: 100%;
	content: " ";
	background: rgb(0,130,151);
	background: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	background:  -ms-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	opacity: 0;
	transition: 0.5s;
}
a:hover::after, button.disabled:hover::after{
	opacity: 1;
	width: 100%;
}
strong{
	font-family: 'Sharp Sans Bold';
	color: #333;
}
*::-webkit-scrollbar {
	width: 5px;               /* width of the entire scrollbar */
  }
  
*::-webkit-scrollbar-track {
	background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(51, 51, 51,0.7);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid transparent;  /* creates padding around scroll thumb */
}
*{
	scrollbar-width: thin;          /* "auto" or "thin" */
	scrollbar-color: rgb(51, 51, 51,0.7) transparent;   /* scroll thumb and track */ 
}
/****************/
/* Marquee Code */
/****************/
 .marquee {
  margin: 0 auto;
  width: 600px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ccc 10%, transparent 80%);
  background: -moz-linear-gradient(to right, #ccc 10%, transparent 80%);
  background: -ms-linear-gradient(to right, #ccc 10%, transparent 80%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ccc 10%, transparent 80%);
  background: -moz-linear-gradient(to left, #ccc 10%, transparent 80%);
  background: -ms-linear-gradient(to left, #ccc 10%, transparent 80%);
}
.marquee__content {
  width: 300%;
  position: fixed;
  bottom:0;
  left: 0;
  padding: 8px 0;
  z-index: 9;
  display: flex;
  line-height: 30px;
  background: #D4EAED;
  animation: marquee 25s linear infinite forwards;
  box-shadow: 0 -1px 2px 2px rgba(245,245,245,0.5);
}
.marquee__content li{
	white-space: nowrap;
	padding-left: 5px;
}
.marquee__content:hover {
  animation-play-state: paused;
}
.list-inline {
  display: flex;
  justify-content: space-around;
  width: 63.33%;
  /* reset list */
  list-style: none;
  padding: 0;
  margin: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/******************/
/* ACCESSIBILITY */
/*****************/
#skip-link, .visually-hidden{
	width:0;
	height:0;
	overflow: hidden;
	opacity: 0;
	display: inherit;
	margin:0;
	padding:0;
}

/************************/
/* INTERACTIVE MAP CODE */
/************************/
canvas{
	opacity: 0.8;
	max-width: 100%;
}
.interactive-map{
	min-height: 500px;
	margin-top: 20px;
	/*overflow: hidden;
	*/
	position: relative;
}
#interactive-map::after{
	background: #D4EAED;
	position: absolute;
	content: " ";
	filter: blur(3px);
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	top: -4px;
	z-index: -1;
	left: -4px;
}

.interactive-map .text{
	background: linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	position: absolute;
	top: 18px;
	margin: 0;
	padding: 15px;
	z-index: 1;
	right: 25px;
	font-size: 20px;
	max-width: 50%;
}
.interactive-map .text a{
	color: #BF0D3E;
	text-decoration: none;
}
.interactive-map .text ul{
	list-style: none;
	margin-top: 10px;
	/* padding-left: 0;
	*/
}
.interactive-map .text h2{
	display: inline-block;
}
.interactive-map .text li{
	margin-bottom: 5px;
}

/**************/
/* Navigation */
/**************/
#mobile-nav{
	display: none;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
nav#desktop-nav{
	font-size: 16px;
	padding: 25px 20px;
	padding-right: 15px;
	width: 16%;
	position: fixed;
	top: 0;
	left: 0;
	height: calc(100vh - 60px);
	word-break: break-all;
	background: rgba(245,245,245,0.5);
	background: linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
}
nav#desktop-nav input[type="text"]{
	padding: 2px;
	padding-left: 5px;
	padding-bottom: 0;
	font-family: inherit;
	font-size: inherit;
	border: none;
	border-bottom: 1px solid #333;
	margin-bottom: 2px;
	position: relative;
	max-width: 35%;
	background: transparent;
}
nav#desktop-nav input[type="text"]:focus{
	border: none;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #333;
}
nav#desktop-nav input[type="text"]:focus + .cursor{
	animation: none;
	opacity: 0;
}
.cursor{
	display: inline-block;
	width: 1px;
	height: 1em;
	background: #333;
	right: 2px;
	position: relative;
	animation: blink 2s infinite;
}
nav#desktop-nav select{
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #333;
	padding: 2px;
	margin-top: 2px;
	width: auto;
	background: transparent;
}

nav#desktop-nav select:focus{
	outline: none;
}
.logo-a img{
	width:  190px;
}
.logo-a, .logo-a:hover{
	background: transparent;
	margin: 0;
	padding: 0;
	display: block;
}
.logo-a{
	left: -10px;
	top: -10px;
	position: relative;
}
.logo-a::after{
	display: none;
}
nav#desktop-nav ul:nth-child(2){
	margin-bottom: 20px;
	margin-top: -5px;
}
nav#desktop-nav ul:nth-child(2) li{
	background: rgba(0, 130,151,0);
	margin: 0;
	margin-bottom: 2px;
	padding: 5px 0;
	word-break: keep-all;
}
nav#desktop-nav ul{
	word-break: keep-all;
}
main .two-column a{
	color: #BF0D3E;
	background: transparent;
	text-decoration: none;
}
nav#desktop-nav select{
	margin-top: 20px;
}

nav#desktop-nav ul li{
	margin: 15px 0;
}
nav#desktop-nav ul li:first-child{
	margin-top: 0;
}
nav#desktop-nav li{
	max-width: 80%;
}
.stick-to-bottom{
	position: absolute;
	bottom: 25px;
}
.stick-to-bottom li:first-child{
	word-break: break-all;
}
nav#desktop-nav ul{
	list-style: none;
	padding-left: 0;
}
nav#desktop-nav *{
	background: transparent;
}
nav#desktop-nav ul li{
	margin-bottom: 5px;
}
nav#desktop-nav a{
	color: inherit;
	display: inline-block;
	text-decoration: underline;
}
.lang-wrapper{
	display: inline-block;
	margin: 0;
	padding: 2px;
	margin-top: 15px;
}
.search-wrapper{
	display: inline-block;
}
.lang-wrapper .globe{
	bottom: 0;
	width: 20px;
	margin-right: 6px;
	vertical-align: middle;
}
select.lang{
	margin: 0;
	border: none;
	position: relative;
	position: relative;
	vertical-align: top;
}
.stick-to-bottom img{
	width: 90%;
	margin-top: 15px;
}
#lightbox{
	display: none;
}
/**********/
/** Main **/
/**********/
main{
	margin: 25px 55px 100px 20%;
}
img.full{
	width: 100%;
	margin: 25px 0;
}
img.magnifying-glass, img.globe{
	position: relative;
	bottom: -5px;
	width: 20px;
}
/****************/
/** One Column **/
/****************/
.one-column{
	max-width: 85%;
}
/****************/
/** Two Column **/
/****************/
.two-column{
	margin-bottom: 25px;
}

.two-column, .secondary{
	column-count: 2;
	column-gap: 1rem;
}
.two-column > *:first-child{
	margin-top: 0;
}
.two-column ul, .two-column ol, .two-column li,  .two-column p, .two-column section{
	page-break-inside: avoid;
	break-inside: avoid-column;
}
/***************/
/** Secondary **/
/***************/
.secondary h2{
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 2px;
	background: rgb(245,245,245,0);
}
.secondary a, .partners a,.steering-committee button, .staff button, .opp > a{
	color: #333;
	background: rgb(245,245,245, 0);
	position: relative;
	padding: 5px 10px;
	padding-right: 0;
	padding-left: 5px;
	margin-top: 5px;
	background: rgb(245,245,245,0.5);
	background: linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);	
	border-radius: 0px;
	text-decoration: none;
}
.secondary a *, .partners a *,.steering-committee a *, .opp > a *{
	text-decoration: none;
}
.secondary a::after,.steering-committee button::after, .partners a::after,.staff button::after, .opp > a::after{
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
	width: 80%;
	height: 100%;
	content: " ";
	background: rgb(245,245,245);
	background: linear-gradient(90deg, rgba(245,245,245,0.9) 0%, rgba(245,245,245,0.9) 5%, rgba(245,245,245,0.5088629201680672) 95%, rgba(245,245,245,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(245,245,245,0.9) 0%, rgba(245,245,245,0.9) 5%, rgba(245,245,245,0.5088629201680672) 95%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(245,245,245,0.9) 0%, rgba(245,245,245,0.9) 5%, rgba(245,245,245,0.5088629201680672) 95%, rgba(245,245,245,0) 100%);
	opacity: 0;
	transition: 0.5s;
}
.secondary a:hover::after, .staaff a:hover::after,.steering-committee button:hover::after, .partners a:hover::after,.opp > a:hover::after{
	opacity: 1;
	width: 100%
}
.secondary section{
	page-break-inside: avoid;
	break-inside: avoid-column;
}
.secondary{
	padding-top: 50px;
	padding-bottom: 50px;
}
.secondary ul{
	list-style: none;
	margin-top: 0;
	margin-bottom: 25px;
}
.secondary li{
	overflow: visible;
	display: block;
	margin: 0;
	font-size: 0;
}
.secondary li a{
	overflow: hidden;
	display: inline-block;
	width: calc(100% - 10px);
	font-size: 20px;
}
.secondary .date{
	text-decoration: none;
	max-width: 75%;
	vertical-align: top;
	display: inline-block;
	margin-left: 5%;
	padding-right: 5px;
	page-break-inside: avoid;
	break-inside: avoid-column;
}
.secondary sup{
	padding: 0;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 0;
	top: -1px;
	background: rgb(0,130,151,0.1);
	position: relative;
}
/**********/
/** HOME **/
/**********/
.intro-text{
	max-width: 100%;
	font-size: 24px;
}
.intro-text p{
	margin-top: 25px;
}
/**********/
/** About **/
/**********/
.steering-committee{
	max-width: 800px;
	margin-top: 50px;
}
.staff{
		margin-top: 50px;
}
.staff button{
	cursor: pointer;
}
.steering-committee button{
	display: inline-block;
	cursor: pointer;
}
.steering-committee ul{
	list-style: none;
	margin-top: 10px;
	padding-left: 0;
	column-count: 2;
	column-gap: 1rem;
}
.partners{
	margin-top: 50px;
}

.partners li{
	display: inline-block;
	margin: 10px 15px;
}
.staff ul{
	list-style: none;
	padding-left: 0;
}
.partners ul{
	position: relative;
	left: -15px;
	list-style: none;
	margin-top: 10px;
	padding-left: 0;
}
/*************/
/** Funding **/
/*************/
.funding-wrapper{
	display: flex;
	flex-wrap: wrap;
/*	margin-left: -25px;*/
}
button{
	order: 1;
}
button.disabled{
	order: 2;
	font-style: italic;
}
button.disabled span::after{
	content: " →";
	font-style: italic;
}
.tab-wrapper{
	display: flex;

/*	background: rgb(245,245,245);*/
	z-index: 6;
	justify-content: flex-start;
}
.opp.hide{
/*	display: none;*/
	height: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
	flex-basis:0 ;
	overflow: hidden;
}
.opp.hide a{
	display: none;
}
.opp > a{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.opp{
	transition: 0.2s;
	position: relative;
	background: linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	flex-basis: calc(100% - 50px);
	padding: 20px;
	margin: 5px;
	font-size: 16px;
}
.opp:hover{
	background: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 50%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 50%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 50%, rgba(212,234,237,0.9) 99%, rgba(0,130,151,0) 100%);
}
.opp h2{
	position: relative;
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
	display: inline-block;
}


.opp sup{
	font-size: 20px;
	display: block;
	padding: 0;
	margin-bottom: 10px;
	margin-top: -10px;
	color: #BF0D3E;
	text-decoration: none;
	background: linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 5%, rgba(245,245,245,0.5) 95%, rgba(245,245,245,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 5%, rgba(245,245,245,0.5) 95%, rgba(245,245,245,0) 100%);
	background: -ms-linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 5%, rgba(245,245,245,0.5) 95%, rgba(245,245,245,0) 100%);
}
.funding-opportunities-wrapper{
	display: flex;
	flex-direction: column;
	width:  100%;
}
#modal{
	opacity: 0;
	height: 0;
	transition: 0.2s;
	overflow: hidden;
	pointer-events: none;
}
#modal.show{
	opacity: 1;
	pointer-events: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width:  100vw;
	height:  100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
#modal.show .inner .close{
	position: sticky;
	float: right;
	top: 5px;
	right: 5px;
	background: transparent;
	padding:0;
	cursor: pointer;
}
#modal.show .inner .close::after{
	display: none;
}

#modal.show .inner{
	background: #D4EAED;
	padding: 15px;
	position: relative;
	display: inline-block;
	width: 50%;
	height: 50%;
	font-size: 16px;
	padding-top: 10px;
	overflow-y: scroll;
	box-shadow: 0 0 5px 15px #D4EAED;
}
#modal.show .inner h2{
/*   width: 50%;*/
  font-size: 20px;
  margin-bottom: 10px;
}
section.funding{
	flex-basis: 100%;
}
.apply-link.hide{
	display: none;
}
.funding-form{
   display: none;
}

.show-form .funding-form{
	text-transform: uppercase;
/*	border-top: 1px solid #333;*/
	margin: 0;
	display: inline-block;
	top: 0;
	margin-right: 15px;
	left: 0;
	width: auto;
	z-index: 7;
	margin-left:5px;
	padding:15px 0;
	font-size:16px;
/*	background: linear-gradient(0deg, rgba(245,245,245,0) 0%,rgba(245, 245, 245, 0.5) 10%, rgba(245, 245, 245, 0.5) 99% );
	background: -moz-linear-gradient(0deg, rgba(245,245,245,0) 0%,rgba(245, 245, 245, 0.5) 10%, rgba(245, 245, 245, 0.5) 99% );
	background: -ms-linear-gradient(0deg, rgba(245,245,245,0) 0%,rgba(245, 245, 245, 0.5) 10%, rgba(245, 245, 245, 0.5) 99% );
	*/overflow: hidden;
}
/*.funding-form::after{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(5px);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	-moz-backdrop-filter: blur(6px);
	-ms-backdrop-filter: blur(6px);
	background: rgba(245,245,245,0.1);
	z-index: -1;
}*/
.funding-form select{
	border-radius: 0;
	font-size: 16px;
	max-width: 98%;
	font-family: inherit;
	color:  #333;
	border: 0px solid #333;
	background: #f5f5f5;
	background: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	background:  -ms-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	background: -moz-linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(0,130,151,0) 100%);
	padding: 2px 8px;
	-webkit-appearance: menulist;
  margin:  10px 2px;

}
.funding-form #arrow{
	display: inline-block;
	position: relative;
	width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-top: 8px solid rgba(51,51,51,0.8);
  right: 23px;
  top: -2px;
}
.funding-form select:focus{
/*	border: 1px solid #333;*/
	outline: none;
}
.faq{
	margin-top: 50px;
	border-top: 1px;
}
.faq section{
	page-break-inside: avoid;
	break-inside: avoid-column;
}

/********************************************/
/*************  small desktop ***************/
/********************************************/
@media(max-width: 1540px){
	body{
		font-size: 18px;
	}
	nav, h2{
		font-size: 14px;
	}

}
/*************************************/
/*************  Tablet ***************/
/*************************************/

/*************************************/
/*************  MOBILE ***************/
/*************************************/

@media only screen and (max-width: 896px){

  #mobile-nav{
  	display: flex;
  	position: fixed;
  	justify-content: space-between;
  	align-content: space-between;
  	top: 0;
  	background: rgba(245,245,245,0.95);
  	left: 0;
  	width: 100%;
  	z-index: 9;
  }
  #mobile-nav h2{
  	margin: 15px;
  	margin-bottom: 0;
  }

  #mobile-nav h2 span{
  	height: 2px;
  	display: block;
  	width: 50px;
  	margin-bottom: 15px;
  	background: #333;
  }
  #mobile-nav h2.open span:first-child{
  	transform: rotate(45deg) translateX(8px) translateY(11px);
  }
  #mobile-nav h2.open span:nth-child(2){
  	transform: rotate(-45deg) translateX(1px) translateY(-4px);
  }
  #mobile-nav h2.open span:last-child{
  	display: none;
  }
  #mobile-nav h2 span:last-child{
  	margin-bottom: 0;
  }
  #mobile-nav .logo-a{
  	top: 5px;
  	left: 5px;
  }
  #mobile-nav .logo-a img{
  	width:  140px;
  }

  nav#desktop-nav .logo-a{
  	display: none;
  }
	canvas{
		pointer-events: none;
	}
	button{
		font-size: 16px;
	}
	body{
		overflow-x: hidden;
		font-size: 16px;
		padding: 10px;
	}
	h1{
		font-size: 24px;
	}
 h2{
 	font-size: 16px;
 }
	main{
		margin: 0;
		margin-top: 75px;
		margin-bottom:175px;
	}
	.funding-form #arrow{
		position: absolute;
		right: 21px;
    bottom: 0;
    top: calc(50% + 10px);
	}
	nav#desktop-nav{
		z-index: 8;
		width: calc(100% - 30px);
		padding: 10px 15px;
		transition: 0.1s;
		transform: translateY(-100%);
	}
	nav#desktop-nav .logo-a{
		display: none;
	}
	nav#desktop-nav ul:nth-child(2){
		margin-top: 100px;
		font-size: 24px;
	}
	nav#desktop-nav li{
		max-width: 100%;
	}
	nav#desktop-nav .stick-to-bottom li:nth-child(2) br{
		display: none;
	}
	.stick-to-bottom {
		bottom: 75px;
		padding-right: 15px;
	  word-break: break-all;
	}

	nav#desktop-nav .stick-to-bottom img{
		width: 200px;
	}
	.funding-form::after{
		backdrop-filter: none;
		background: rgba(245,245,245,0.95);
	}
	nav#desktop-nav.open{
		background: rgba(245,245,245,0.95);
		transform: translateY(0);
	}
	.list-inline{
		width:  130%;
	}
  .funding-form select{
  	font-size: 16px;
  }

  .show-form .funding-form{
	top: 157px;
    background: #f5f5f5;
    box-shadow: 0px 3px 0px 25px #f5f5f5;
    width: calc(100vw - 30px);
    padding: 0px;
    padding-top: -23px;
    margin-left: 13px;
    display: block;
    position: sticky;
	margin-bottom:35px;
  }

	.opp{
		font-size: 16px;
		flex-basis:  calc(100% - 50px);
	}
	.intro-text{
		font-size: 18px;
	}
	.two-column{
  	column-count: 1;
  }
  .partners li, .steering-committee li{
  	display: block;
  	margin-bottom: 5px;
  }
  .partners li a, .steering-committee li button{
  	display: inline-block;
  }
  .steering-committee ul{
  	column-count: 1;
  }
  .interactive-map .text{
  	display: none;
  }
  #modal.show .inner{
		width: 95%;
		height: 90%;
	}
	#modal.show .inner .close{
		top: 5px;
		right: 5px;
	}
	.tab-wrapper{
		position: sticky;
		top: 70px;
		margin-bottom: 30px;
		box-shadow: 0 -1px 0px 10px #d4eaed;
		background: #D4EAED;
	}
	button{
		background: rgb(0,130,151,0.1);
	}
	.funding-form select option, .funding-form select, .opp a{
		text-overflow: ellipsis;
		width: 85%;
	}
	.funding-form{
		width:  calc(100% - 30px);
	}
	
}
  #arrow{
  	display: none !important;
  }
@media(max-width: 768px) and (device-aspect-ratio: 3/4){
  #arrow{
  	display: none;
  }
}

@media only screen and (max-width: 896px) and (orientation: landscape){
	nav#desktop-nav ul:nth-child(2){
		font-size: 16px;
	}
	.stick-to-bottom{
		bottom: 0;
	}
	nav#desktop-nav .stick-to-bottom img{
		width: 130px;
	}
}
/*************************/
/**** LARGE DESKTOP ******/
/*************************/
@media(min-width: 1650px){
  body, .interactive-map .text, .secondary li a, .opp, .funding-form select{
  	font-size: 24px;
  }
	.intro-text{
		max-width: 100%;
		font-size: 36px;
	}
}
